.wrapper__header {
  margin-top: 16px;
}

.header__body {
  display: flex;
}

.header__logo {
  flex: 1;
}

.header__image {
  height: 42px;
}

.header__langs {
  display: flex;
  margin: auto 0 5px 0;
}

.header__lang {
  font-size: 18px;
  line-height: calc(100% * 20 / 18);
}

.header__lang_selected {
  border-bottom: 1px solid #ffffff;
}

.header__lang:not(:last-child) {
  margin-right: 19px;
}

@media (min-width: 768px) {
  .wrapper__header {
    margin-top: 28px;
  }

  .header__image {
    height: 100%;
  }

  .header__link {
    font-size: 24px;
    line-height: calc(100% * 28 / 24);
  }

  .header__lang {
    font-size: 24px;
    line-height: calc(100% * 28 / 24);
  }
}
